<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Calm Coffee</h2>
        </header>
        <p> A Coffee Site. For <strong>Decaf</strong>. 
        <br />
        Mostly Colorado Coffee.
        <br />
        Mostly Denver Area Coffee (For Now).</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/blog.html" class="button fit scrolly">read my blog</a></li>
            </ul>
        </footer>

    </div>

</section>